body {
	background-color: skyblue;
	min-width: 860px;
	font-family: Arial, sans-serif;
}

.wrapper {
	text-align: center;
	width: 80%;
	min-width: 960px;
	box-shadow: 5px 10px 20px;
	margin: auto;
}

h1 {
	background-color: pink;
	padding: 15px;
	color: black;
	margin: auto;
	border: solid;
}

h2 {
	color: black;
	text-decoration: underline;
}

li {
	white-space: nowrap;
	color: maroon;
}

.pic2 {
	height: 170px;
	width: 220px;
	float: left;
	position: relative;
	padding-right: 20px;
	padding-bottom: 20px;
}

.pic1 {
	height: 160px;
	width: 200px;
	float: right;
	position: relative;
	padding-right: 20px;
	padding-bottom: 20px;
}

.pic5 {
	height: 160px;
	width: 250px;
	float: left;
	position: relative;
	padding-right: 20px;
	padding-bottom: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	border-left: solid;
	border-right: solid;

}

.flex-container-nav  {
	min-width: 200px;
	flex-basis: 150px;
	background-color: white;
	text-align: left;
}

.flex-container-paragraph  {
	background-color: white;
	color: maroon;
	padding-left: 20px;
	color: black;
	text-align: left;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	color: red;
}


footer {
	background-color: pink;
	color: black;
	padding: 15px 0px;
	border: solid;

}
